/* src/components/Services.css */
.services {
    padding: 20px;
    text-align: center;
  }
  
  .services-list {
    list-style: none;
    padding: 0;
  }
  
  .services-list li {
    margin: 5px 0;
  }
  
  .services a {
    color: var(--button-text-color);
    background-color: var(--button-bg-color);
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
  }
  
  .services a:hover {
    background-color: var(--link-hover-color);
  }
  