/* src/App.css */
:root {
  --primary-bg-color: rgba(51, 51, 51, 1);   /* Dark background color */
  --primary-text-color: rgba(255, 255, 255, 1); /* White text color */
  --link-hover-color: rgba(0, 191, 255, 0.9);
  --button-color: rgba(135, 206, 250, 1.0); 
  --button-text-color: rgba(255, 255, 255, 1); /* White button text */
}

.App {
  text-align: center;
}

.section {
  padding: 40px 20px;
}

.contact-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.contact-details a {
  text-decoration: none;
  color: inherit;
  margin: 5px 0;
}
